@charset "utf-8";
/* CSS Document */
body {
  background-color: #CCC;
  font-size: 16px;
  font-family: Arial, San serif;
}

* {
  box-sizing: border-box;
}

// BorderRadius mixin
@mixin borderRadius(
  $radius: 3px,
  ) {
  @if type-of($radius) == number {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.stopwatch {
  @include borderRadius(10px);

  margin: 20px;
  padding: 20px;
  display: block;
  background-color: #333;
  text-align:center;

  &__header {
    .btn {
      float: right;
    }
  }

  &__display {
  }

  &__controls {
    margin-top: 10px;
  }

  &__splits {
    ul {
      padding: 0;
      list-style: none;
	  
      li {
        padding: 7px;
        font-size: 0.8em
		
        &:nth-child(2n + 2) {
          background-color: #F00;
        }
      }
    }
  }

  &__footer {
  }
}

.display {
  padding: 10px 15px;
  display: block;
  color: #F00;

  &--underline {
    border-bottom: 2px dotted #F00;
  }

  &--big {
    padding: 20px 15px;
    width: 100%;
    font-size: 2em;
  }

  span {
    &:last-child {
      color: # F00;
    }
  }
}
.stopwatch__splits{
	color:#F00;
	}

.btn {
  @include borderRadius();
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 15px 20px;
  color: #F00;
  

  &--green {
    background-color: #F00;
  }

  &--red {
    background-color: #ef3a1c;
  }

  &--gray {
    background-color: #cccccc;
  }

  &--small {
    padding: 5px 7px;
    font-size: 0.7em;
  }
}

